<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../css/styles.css" />
  </head>
  <body class="flex items-center justify-center">
    <!-- Dropdown -->
    <div
      class="dropdown-list-shadow w-[13.125rem] z-10 bg-white border border-brand-gray-9 rounded-lg mt-2.5 p-2.5"
    >
      <!-- Options -->
      <ul class="text-brand-black text-start">
        <li class="px-4 py-2.5 rounded-10 hover:bg-brand-gray-9 cursor-pointer">
          Турция
        </li>
        <li class="px-4 py-2.5 rounded-10 hover:bg-brand-gray-9 cursor-pointer">
          Франция
        </li>
        <li class="px-4 py-2.5 rounded-10 hover:bg-brand-gray-9 cursor-pointer">
          США
        </li>
        <li class="px-4 py-2.5 rounded-10 hover:bg-brand-gray-9 cursor-pointer">
          Дубай
        </li>
        <li class="px-4 py-2.5 rounded-10 hover:bg-brand-gray-9 cursor-pointer">
          Кипр
        </li>
      </ul>
    </div>
  </body>
</html>
