<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../css/styles.css" />
  </head>
  <body class="flex items-center justify-center">
    <!-- Dropdown -->
    <ul
      class="links-dropdown-shadow w-56 h-56 bg-white rounded-xl text-sm p-2.5 mt-0.5"
    >
      <li
        class="px-15 py-2.5 hover:text-brand-blue rounded cursor-pointer hover:bg-brand-gray-8"
      >
        <a href="#">Продать недвижимость</a>
      </li>
      <li
        class="px-15 py-2.5 hover:text-brand-blue rounded cursor-pointer hover:bg-brand-gray-8"
      >
        <a href="#">Купить недвижимость</a>
      </li>
      <li
        class="px-15 py-2.5 hover:text-brand-blue rounded cursor-pointer hover:bg-brand-gray-8"
      >
        <a href="#">Блог</a>
      </li>
      <li
        class="px-15 py-2.5 hover:text-brand-blue rounded cursor-pointer hover:bg-brand-gray-8"
      >
        <a href="#">Отзывы</a>
      </li>
      <li
        class="px-15 py-2.5 hover:text-brand-blue rounded cursor-pointer hover:bg-brand-gray-8"
      >
        <a href="#">Реферальная программа</a>
      </li>
    </ul>
  </body>
</html>
